@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

//colors

$blue: #08A6E4;
$pink: #FB3B64;
$green: #55DFB4;
$lightgrey: #F7F7F7;
$darkgrey: #95989A;

// fonts 

$open-sans: "Open Sans", sans-serif;
$raleway: "Raleway", sans-serif;

//media

$mobile: 520px;
$tablet: 1100px;
$desktop: 1101px;
