.pricing {
    background-color: white;
    padding: 3rem 0;

    &__h2 {
       font-family: $raleway;
       font-size: 2.2rem;
       font-weight: normal;
       color: black;
       text-align: center; 
       padding: 1.5rem 0;
    }

    &__box {
        border:  1px solid;
        border-radius: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        &--pink {
            border-color: $pink;
            width: 300px;
            height: 280px;
        }

        &--blue {
            border-color: $blue;
            width: 340px;
            height: 320px;
            box-shadow: 5px 10px 27px #07ACE629;
        }

        &--green {
            border-color: $green;
            width: 300px;
            height: 280px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 3rem;
    }

    &__h3 {
        font-family: $raleway;
        font-size: 1.25rem;
        font-weight: bold;
        color: black;
        // text-align: center;
    }

    &__h {
        font-family: $open-sans;
        font-size: 2.9rem;
        font-weight: 300;
        // text-align: center;
        
        &--pink {
            color: $pink;
        }

        &--blue {
            color: $blue;
        }

        &--green {
            color: $green;
        }
    }

    &__p {
        font-family: $raleway;
        font-size: 0.75rem;
        font-weight: bold;
        color: black;
        // text-align: center;
    }

    &__list {
        list-style: none;
        // padding-bottom: 3rem;
        // padding-top: 3rem;
    }

    &__item {
        font-family: $open-sans;
        font-size: 0.9rem;
        line-height: 2.5rem;
        font-weight: normal;
        color: black;
    }

    &__btn {
        font-family: $open-sans;
        font-size: 0.8rem;
        font-weight: bold;
        color: white;
        margin: 0 auto;
        border: none;
        border-radius: 23px;
        padding: 1rem 4rem;
        position: relative;
        bottom: 25px;
        cursor: pointer;

        &--pink {
            background-color: $pink;
        }

        &--blue {
            background-color: $blue;
        }

        &--green {
            background-color: $green;
        }
    }
}